body{
    padding:0px;
    margin:0px;
    font-family: 'Roboto';
    text-align: center;
}
ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;;

}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size:24px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    font-weight: bolder;
    background-color: #1F2937;
    color: white;
    
    
}
.links{
    display: flex;
    flex-direction: row;
    gap:25px;
    font-size: 20px;
    font-weight: 200;
}
.banner{
    display:flex;
    flex-direction: row;
    background-color: #1F2937;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top:40px;
    padding-bottom: 60px;
    justify-content: space-between;
    gap:30px;
    text-align: left;

}

.cat{
    display:flex;
    flex:1;
    border-radius: 15px;

}
.first{
    font-size:48px;
    color: #F9FAF8;
    font-weight: 900;
}
.para{
    font-size:18px;
    color: #E5E7EB;
}
button{
    color: white;
    background-color: #3882F6;
    font-size: 20px;
    padding:8px;
    border-radius: 15px;
}
.info{
    display: flex;
    flex-direction: column;
    gap:20px;
    flex-wrap: wrap;
}
.info-text{
    display: flex;
    margin: auto;
    font-size:36px;
    color: #1f2937;
    font-weight:900;
    padding-top: 40px;
    
    
}
.image-info{
    display:flex;
    justify-content: center;
    gap:30px;
    
    
}
.container{
    max-width: 300px;
}
img{
    border:5px blue;
    border-radius: 25px;
    
}
.quotes{
    display: flex;
    background-color: #E5E7EB;
    padding:100px 320px 100px 320px;
    
}
.quote{
    font-size: 36px;
    color:#1f2937;
    font-weight: 300;

}
.action-button{
    padding: 80px;
    text-align: left;
}
.message{
    background-color: #3882F6;
    padding: 30px 20px;;
    color: white;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    font-size: 24px;
    

}
.message-banner{
    font-weight: bolder;
}
.sign-up{
    border-color: white;
}
.footer{
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    font-size: large;
    color: #F9FAF8;
    height: 80px;
    align-items: center;
}



